
<div class="columns is-centered">
  <div class="column is-two-thirds">
    <div class="box">
      <button class="button new-team-btn">New Team</button>
      <button class="button import-btn is-pulled-right">Import Team</button>
      <table class="table is-fullwidth is-striped">
        <caption class="title has-text-centered is-4">Teams</caption>
        <thead>
          <tr>
            <th><abbr title="Position">Pos</abbr></th>
            <th>Name</th>
            <th>Commander</th>
            <th>Members</th>
          </tr>
        </thead>

        <tbody>
          <% @teams.each_with_index do |team, i| %>
            <tr>
              <td><%= i + 1 %>.</td>
              <td><%= link_to team.name, team %></td>
              <td>
                <%= link_to team.commander.name, user_path(team.commander) %>
              </td>
              <td><%= team.users.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" >
      <p class="modal-card-title">New Team</p>
      <button class="delete close-btn" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="team-form">
        <%= render 'form', team: @team %>
      </div>
      <div class="team-import-form">
        <ul class="list">
        <% @linkable_teams.each do |team|  %>
          <li class="list-item">
            <%= link_to team.name, game_link_path(id: team.id,
            game_id: @game.id), class: 'has-text-centered button is-large is-fullwidth',
            method: 'put' %>
          </li>
        <% end %>
        </ul>
      </div>
    </section>
  </div>
</div>