
<div class="columns is-centered">
  <div class="column is-two-thirds">
    <div class="box">
      <% unless current_operator.teams.include?(@team) %>
        <button class="join-team-btn is-pulled-left button is-small is-rounded">Join</button>
      <% end %>
      <%= link_to 'Edit', edit_team_path(@team), 
                          class:"is-pulled-right button is-small is-rounded" %>
      <h1 class="title has-text-centered"> 
        <%= @team.name %> 
      </h1>
    </div>
  </div>
</div>

<div class="columns is-centered">
  <div class="column is-two-fifths">
    <div class="box">
      <% if policy(@team).change_member_title? %>
        <button class="button rank_manager_btn">
          Rank Manager
        </button>
      <% end %>
      <table class="table is-striped is-fullwidth">
        <caption class="title is-4">Members</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td>
                <%= link_to member.operator.name, 
                            operator_path(member.operator) %>
              </td>
              <td>
                <%= member.title %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="column is-two-fifths">
    <div class="box">
      <table class="table is-striped is-fullwidth">
        <caption class="title is-4">Strategies</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Creator</th>
          </tr>
        </thead>
        <tbody>
          <% @team.strategies.each do |strat| %>
            <tr>
              <td>
                <%= link_to strat.name, 
                            strategy_path(strat) %>
              </td>
              <td>
                <%= link_to strat.commander.name, 
                            operator_path(strat.commander) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" >
      <p class="modal-card-title">Join Team</p>
      <button class="delete close-btn" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="join-team-form hide">
        <%= form_with url: join_team_path(@team), local: true, class: 'form' do |form| %>
        
        <% unless @team.password.nil? %>
          <div class="field">
          <%= form.label :password, class: 'label' %>
          <%= form.password_field :password, class: "input" %>
          </div>
        <% end %>
          <div class="actions">
            <%= form.submit "Join Team", class:"button is-link is-pulled-left" %>
          </div>
        <% end %>
      </div>
      <div class="change-title-form hide">
        <table class="table">
          <thead>
            <tr>
              <th>Rank Type</th>
              <th>Access</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Operator</td>
              <td>Add recipes</td>
            </tr>
            <tr>
              <td>Lead Operator</td>
              <td>Total Strategy Management</td>
            </tr>
            <tr>
              <td>Commander</td>
              <td>Total Strategy & Team Management</td>
            </tr>
          </tbody>
        </table>
        <%= form_with url: change_member_title_path(@team), 
                      local: true, class: 'form' do |form| %>
        
          <div class="field">
            <%= form.label :title, class:"label" %>
            <div class="select">
              <%= form.select :title, OperatorTeam::TITLE_OPTIONS, 
                                      { :include_blank => '-- Select One --' },
                                      required: true, 
                                      class:"input",
                                      id: "title-options-select" %>
            </div>
          </div>
          
          <div class="field">
            <%= form.label :member, for: 'member_ids', class:"label" %>
            <div  class="select is-multiple">
            <%= form.select(:member_ids, 
                            @members.all.collect {|p| [ p.operator.name, p.id ] },
                            {include_blank: false, include_hidden: false},
                             { required: true, multiple: true, :size => 5 }) %>
            </div>
          </div>
          
          <div class="actions">
            <%= form.submit "Update Member Ranks", class:"button is-link is-pulled-left" %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>