<%= form_with(model: direction, local: true) do |form| %>
  <% if direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% direction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe, class:"label" %><br>
    <div  class="select">
      <%= form.collection_select :recipe_id, 
                        Recipe.all, 
                        :id, 
                        :name,
                        required: true, selected: @recipe.id %>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :name, class:"label" %><br />
    <%= form.text_field :name, autofocus: true, required: true, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :content, class:"label" %><br />
    <%= form.text_area :content, required: true, class:"textarea"%>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-link" %>
  </div>
<% end %>