<%= render 'shared/breadcrumb'%>



<div class="columns is-centered">
  <div class="column is-narrow">
    <div class="box">
      <% if @previous_direction || @next_direction %>
        <div class="tabs is-fullwidth">
          <ul>
            <% if @previous_direction %>
              <li>
                <a href="<%=direction_path(@previous_direction)%>">
                  <span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
                  <span>Previous Direction</span>
                </a>
              </li>
            <% end %>
            <% if @next_direction %>
              <li>
                <a href="<%=direction_path(@next_direction)%>">
                  <span>Next Direction</span>
                  <span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h1 class="title is-5 has-text-centered">Direction</h1>
      <table class="table is-striped">
        <caption>Attributes</caption>
        <% @direction.attributes.each do |key, value| %>
          <% skip_list = %w(id recipe_id private) %>
          <% next if skip_list.include?(key) %>
          <tr>
            <th><%= key  %></th>
            <td>
              <%= key == 'step' ? "#{value} of #{@directions.count}" : value %>
            </td>
          </tr>
        <% end %>
        <tr class="half-opacity">
          <th>Recipe</th>
          <td><%= link_to @recipe.name, recipe_path(@recipe) %></td>
        </tr>
        <tr class="half-opacity">
          <th>Objective</th>
          <td><%= link_to @objective.name, objective_path(@objective) %></td>
        </tr>
        <tr class="half-opacity">
          <th>Strategy</th>
          <td><%= link_to @strategy.name, strategy_path(@strategy) %></td>
        </tr>
      </table>
      <%= link_to 'Edit', 
                  edit_direction_path(@direction), 
                  class: "button is-rounded"%>
    </div>
  </div>
</div>