<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <% case provider %>
    <% when :steam %>
      <a href="<%=omniauth_authorize_path(resource_name, provider)%>">
        <i class="fab fa-steam fa-3x"></i>
        <%="Sign in with #{OmniAuth::Utils.camelize(provider)}"%>
      </a>
      <br/> <br>
    <% when :discord %>
      <a href="<%=omniauth_authorize_path(resource_name, provider)%>">
        <i class="fab fa-discord fa-3x"></i>
        <%="Sign in with #{OmniAuth::Utils.camelize(provider)}"%>
      </a>
    <% else %>
      <a href="<%=omniauth_authorize_path(resource_name, provider)%>">
      <%="Sign in with #{OmniAuth::Utils.camelize(provider)}"%>
    </a>
    <% end %>
  <% end -%>
<% end -%>
