<%= render 'shared/breadcrumb'%>


<div class="columns is-centered">
  <div class="column is-narrow">
    <div class="box">
      <h1 class="title is-5 has-text-centered">
        <%= "#{controller_name.capitalize.singularize}" %>
      </h1>
      <table class="table is-striped">
        <caption>Recipe Attributes</caption>
        <tr>
          <th>Name</th>
          <td><%= @recipe.name%></td>
        </tr>
        <tr>
          <th>Objective</th>
          <td><%= @objective.name%></td>
        </tr>
        <tr>
          <th>Strategy</th>
          <td><%= @strategy.name %></td>
        </tr>
        <tr>
          <th>Created By</th>
          <% commander = @recipe.commander%>
          <td><%= link_to commander.name, operator_path(commander)%></td>
        </tr>
        <tr>
          <th>Created At</th>
          <td><%= @recipe.created_at%></td>
        </tr>
        <tr>
          <th>Updated At</th>
          <td><%= @recipe.updated_at %></td>
        </tr>
      </table>
      <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
      <%= link_to 'Back', recipes_path %>
    </div>
  </div>
  <div class="column is-narrow">
    <div class="box">
      <button class='button is-rounded is-small new-direction-btn'>
        New Direction
      </button>
      <h2 class="title is-5">Directions</h2>
      <table class="table is-bordered">
        <thead>
          <tr>
            <th>Step</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @directions.each do |direction| %>
            <tr>
              <td>
                <%= direction.step %> 
              </td>
              <td>
                <%= link_to direction.name, direction_path(direction) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="column is-narrow">
    <div class="box">
      <button class='button is-rounded is-small new-ingredient-btn'>
        New Ingredient
      </button>
      <h2 class="title is-5">Ingredients</h2>
      <table class="table is-bordered">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @ingredients.each do |ingredient| %>
            <tr>
              <td>
                <%= link_to ingredient.name, ingredient_path(ingredient) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" >
      <p class="modal-card-title"></p>
      <button class="delete close-btn" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="ingredient-form">
        <%= render '/ingredients/form', ingredient: @ingredient %>
      </div>
      <div class="direction-form">
        <%= render '/directions/form', direction: @direction %>
      </div>
    </section>
  </div>
</div>