<%= render 'shared/form-box-start' %>
<%= form_with(model: objective, local: true) do |form| %>
  <% if objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
      <% objective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class:"label" %><br />
    <%= form.text_field :name, autofocus: true, required: true, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :action, class:"label" %><br />
    <%= form.select :action, [ 'Attack', 'Defend', 'Capture'], { :include_blank => '-- Select One --' },
    required: true, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :target, class:"label" %><br />
    <%= form.text_field :target, required: true, class:"input" %>
  </div>


  <div class="field">
    <%= form.label :minimum_operators, for: :objective_min, class:"label" %>
    <br />
    <%= form.number_field :min, min:1, value: 1, max:1000, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :maximum_operators, for: :objective_max, class:"label" %>
    <br />
    <%= form.number_field :max, min:1, max:1000, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :operator_distribution_priority, for: :objective_priority, class:"label"  %>
    <br />
    <%= form.number_field :priority, value: 10, min:1, max:10, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :next, class:"label" %><br />
    <%= form.text_field :next, disabled: true, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :master, class:"label" %><br />
    <%= form.text_field :master, disabled: true, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :dealy, class:"label" %><br />
    <%= form.number_field :delay, value: 0, min:0, max:10_000, disabled: true, class:"input"%>
  </div>

  <div class="field">
    <%= form.text_field :strategy_id, 
                        value: 2, 
                        hidden: true,                         
                        readonly: true%>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-link" %>
  </div>
<% end %>
<%= render 'shared/form-box-end' %>