<%= form_with(model: objective, local: true) do |form| %>
  <% if objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
      <% objective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class:"label" %>
    <%= form.text_field :name, autofocus: true, required: true, class:"input" %>
  </div>

  <%= form.hidden_field :strategy_id, value: @strategy.id  %>

  <div class="field">
    <%= form.label :action, class:"label" %>
    <div class="select">
      <%= form.select :action, Objective::ACTION_OPTIONS, 
                              { :include_blank => '-- Select One --' },
                              required: true, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :target, class:"label" %>
    <div class="select">
      <%= form.collection_select :target_id, 
                                 @locations, 
                                 :id, 
                                 :name, 
                                 { :include_blank => '-- Select One --' },
                                 required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :minimum_operators, for: :min_ops, class:"label" %>
    <%= form.number_field :min_ops, min:1, max:100, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :maximum_operators, for: :max_ops, class:"label" %>
    <%= form.number_field :max_ops, min:1, max:100, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :priority_level, for: :priority, class:"label"  %>
    <%= form.number_field :priority, min:1, max:10, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :link_objective, for: :next_id, class:"label" %>
    <div class="select">
      <%= form.collection_select :next_id, 
                                 @strategy.objectives, 
                                 :id, 
                                 :name, 
                                 { :include_blank => '-- Optional --' }%>
    </div>
    <%= form.label :direction, value: :previous  %>
    <%= form.radio_button :direction, :previous, checked: true %>
    <%= form.label :direction, value: :next %>
    <%= form.radio_button :direction, :next%>
  </div>

  <div class="field">
    <%= form.label :dependency, class:"label" %>
    <div class="select">
      <%= form.collection_select :master_id, 
                                 @strategy.objectives, 
                                 :id, 
                                 :name, 
                                 { :include_blank => '-- Optional --' }%>
    </div>
    <%= form.label :dependency, :value => "master"  %>
    <%= form.radio_button :dependency, :master, checked: true %>
    <%= form.label :dependency, :value => "slave" %>
    <%= form.radio_button :dependency, :slave%>
  </div>

  <div class="field">
    <%= form.label "Delay(seconds)", for: :delay, class:"label" %>
    <%= form.number_field :delay, min:0, max:10_000, class:"input"%>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-link" %>
  </div>
<% end %>