<%= render 'shared/breadcrumb' %>

<div class="columns is-centered">
  <div class="column is-narrow">
    <div class="box">
      <% if policy(@objective.strategy).update_objective? %>
        <%= link_to 'Edit', edit_objective_path(@objective),
                          class: 'button  is-small is-rounded is-pulled-left' %>
      <% end %>
      <h1 class="title is-5 has-text-centered">
        <%= "#{@objective.name} #{controller_name.capitalize.singularize}" %>
      </h1>
      <table class="table is-striped">
        <caption>Attributes</caption>
        <tr>
          <th>Strategy</th>
          <td><%= link_to @strategy.name, strategy_path(@strategy) %></td>
        </tr>
        <tr>
          <th>Action</th>
          <td><%= @objective.action %></td>
        </tr>
        <tr>
          <th>Taregt</th>
          <td><%= @objective.target.name %></td>
        </tr>
        <tr>
          <th>Minimum Operators</th>
          <td><%= @objective.min_ops %></td>
        </tr>
        <% if @objective.max_ops %>
          <tr>
            <th>Maximum Operators</th>
            <td><%= @objective.max_ops %></td>
          </tr>
        <% end %>
        <tr>
          <th>Priority</th>
          <td><%= @objective.priority%></td>
        </tr>
        <tr>
          <th>Created at</th>
          <td><%= @objective.created_at %></td>
        </tr>
        <tr>
          <th>Updated at</th>
          <td><%= @objective.target.updated_at %></td>
        </tr>
        <% if @master %>
          <tr>
            <th>Master Objective</th>
            <td>
              <%= link_to(@master.name, objective_path(@master)) %>
            </td>
          </tr>
        <% end %>
        <% if @objective.slaves.count > 0 %>
          <tr>
            <th>Slave Objectives</th>
            <td>
              <%= @objective.slaves.count %>
            </td>
          </tr>
        <% end %>
        <% if @next %>
          <tr>
            <th>Next Objective</th>
            <td>
              <%= link_to(@next.name, objective_path(@next)) %>
            </td>
          </tr>
        <% end %>
        <% if @objective.previous.count > 0 %>
          <tr>
            <th>Previous Objectives</th>
            <td>
              <%= @objective.previous.count%>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="column is-narrow">
    <div class="box">
      <button class='button new-recipe-btn is-rounded is-small'>
        New Recipe
      </button>
      <table class="table is-bordered">
        <caption class="title is-5">Recipes</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Created By</th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <td>
                <%= link_to recipe.name, recipe_path(recipe) %>
              </td>
              <td>
                <%= link_to recipe.commander.name, 
                            operator_path(recipe.commander) %> 
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" >
      <p class="modal-card-title">New Mode</p>
      <button class="delete close-btn" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="recipe-form">
        <%= render '/recipes/form', recipe: @recipe %>
      </div>
    </section>
  </div>
</div>