<% if @user == current_user %>
  <%= link_to 'Create New API Key', api_key_path, 
                                    method: :put, :target => '_blank' %>
<% end %>

<h1 class="title has-text-centered"><%=@user.name%></h1>
<div class="columns is-centered is-multiline">
  <div class="column is-one-third">
    <div class="box">
      <h2 class="title has-text-centered">Teams</h2>
      <table class="table is-fullwidth is-striped">
        <thead>
        <tr><th>Membership</th><th>Name</th><th>Commander</th></tr>
        </thead>
        <tbody>
        <% @user.teams.each do |team| %>
          <tr>
            <td>User</td>
            <td><%= link_to team.name, strategy_path(team) %></td>
            <td><%= link_to team.commander.name, user_path(team.commander) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="box">
      <h2 class="title has-text-centered">Strats</h2>
      <table class="table is-fullwidth is-striped">
        <thead>
        <tr><th>Name</th><th>Game</th></tr>
        </thead>
        <tbody>
        <% @user.commander_strategies.each do |strat| %>
          <tr>
            <td><%= link_to strat.name, strategy_path(strat) %></td>
            <td><%= link_to strat.game.name, game_path(strat.game) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>