<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <%= image_tag 'm1-logo.png', alt: 'Minus1
        logo.', id:'m1-logo'%>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="main-navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <% if current_operator && policy(Strategy).show? %>
          <%=  link_to "Strategies", strategies_path, class: 'navbar-item' %>
        <% end %>
        <% if operator_signed_in? %>
          <a class="navbar-item" href=" <%= teams_path %>">
            Teams
          </a>
        <% end %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <%= link_to "About", about_path, class: "navbar-item" %>
            <hr class="navbar-divider">
            <%= link_to "Docs", docs_path, class: 'navbar-item',
            'data-turbolinks' => false%>
          </div>
        </div>
      </div>

      <div class="navbar-end">
      <% if operator_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <%= @game ? @game.name : current_operator.game_setting.name%>
          </a>
          <div class="navbar-dropdown">
            <%= link_to "All Games", games_path, class: 'navbar-item'%>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <%= current_operator.name %>
          </a>
          <div class="navbar-dropdown">
            <%= link_to "Profile", operator_path(current_operator), class: "navbar-item" %> 
            <hr class="navbar-divider">
            <%= link_to "Log out", destroy_operator_session_path, method:
          :delete, class: "navbar-item" %>
          </div>
        </div>
        <% end %>
        <div class="navbar-item">
          <div class="buttons">
            <% unless operator_signed_in? %>
              <%= link_to 'Login', new_operator_session_path, class: "button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
