<% if @igdb_games %>
  <div id="igdb-container" class="columns is-multiline">
    <% @igdb_games.each do |game| %>
      <% next unless game['cover'] %>
      <div class="column idgb-game is-one-quarter-tablet">
        <div class="content"><%= game['name']%></div>
        <%= image_tag(
          "https://images.igdb.com/igdb/image/upload/t_thumb/#{game['cover']['image_id']}.jpg")%>
          <%= link_to "Add to M1", 
          games_path({game: {image_id: game['cover']['image_id'],
                                  name: game['name'], 
                                  igdb_id: game['id'] }
                      }), 
          method: :post, name: game[:name],
          class: "button enter-btn" %>
      </div>
    <% end %>
    <div class="column idgb-game is-one-quarter-tablet">
      <div class="content">Add New Game</div>
        <%= link_to "Request at Discord", 'https://discord.gg/DQqCvBV', class: "button enter-btn" %>
    </div>
  </div>
<% else %>
  <div id="igdb-container" class="columns is-multiline">
    <% Game.all.sort.each do |game| %>
      <div class="column idgb-game is-one-quarter-tablet">
          <div class="content"><%= game.name %></div>
          <% if game.image_id %>
            <%= image_tag  "https://images.igdb.com/igdb/image/upload/t_thumb/#{game.image_id}.jpg"%>
          <% end %>
          <% if game.status == 'supported' %>
          <%= link_to "Enter", switch_game_path(game.id), method: :patch,
                          class: "button enter-btn" %>
          <% else %>
            <%= link_to "Preview", game_path(game), class: "button enter-btn" %>
          <% end %>
      </div>
    <% end %>
    <div class="column idgb-game is-one-quarter-tablet">
      <div class="content">Add New Game</div>
        <%= link_to "Request at Discord", 'https://discord.gg/DQqCvBV', class: "button enter-btn" %>
    </div>
  </div>
<% end %>