<div class="columns is-centered">
  <div class="column is-narrow">
    <div class="box">
      <p id="notice"><%= notice %></p>

      <h1 class="title is-5">Games</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Favorite?</th>
          </tr>
        </thead>

        <tbody>
          <% @games.each do |game| %>
            <% if game.favorited_by?(current_operator) %>
              <tr>
                <td><%= link_to game.name, game %>
                </td>
                <td>
                  <%= link_to favorite_game_path(game.id), method: :delete  do %>
                    <span class="sr-only">Favorite:</span>
                    <i class="fas fa-heart" aria-hidden="true" title="UnFavorite"></i>
                  <% end %>
                </td>
                </td>
              </tr>
            <% else %>
              <tr>
                <td><%= link_to game.name, game %>
                </td>
                <td>
                <%= link_to favorite_game_path(game.id), method: :put do %>
                    <span class="sr-only">Not Favorite:</span>
                    <i class="far fa-heart" aria-hidden="true" title="Favorite"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Game', new_game_path %>
    </div>
  </div>
</div>