

<p>
  <strong>Name:</strong>
  <%= @mode.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @mode.game %>
</p>

<p>
  <strong>Level:</strong>
  <%= @mode.level %>
</p>

<%= link_to 'Edit', edit_mode_path(@mode) %> |
<%= link_to 'Back', modes_path %>
