<%= render 'shared/form-box-start' %>
<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class:"label" %><br />
    <%= form.text_field :name, autofocus: true, required: true, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :objective_preference, for: :override_preference,
    class:"label"%><br />
    <div class="select">
      <%= form.select :override_preference, [["User's", false],
      ["Commander's", true]], required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Access, for: :room_private, class:"label" %><br />
    <div class="select">
      <%= form.select :private, [['Open', false], ['Private', true]],
      required: true %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-link"%>
  </div>
<% end %>
<%= render 'shared/form-box-end' %>