<p id="notice"><%= notice %></p>

<%= render 'shared/index-start', myclass: 'room-box' %>
<%= link_to 'New Room', new_room_path %>

<div class="tabs is-centered">
  <ul>
    <li><a id="index-btn">All</a></li>
    <li><a id="team-btn">Team's</a></li>
    <li class="is-active"><a id="personal-btn">Personal</a></li>
  </ul>
</div>

<table id="index-tabel" class="table is-hoverable is-bordered is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Room</th>
      <th>Commander</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.name, room%></td>
        <td><%= link_to room.commander.name, room.commander %></td>
        <td>----</td>
      </tr>
    <% end %>
  </tbody>
</table>

<table id="team-tabel" class="table is-hoverable is-bordered is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Room</th>
      <th>Commander</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <% next unless room.commander.id == current_operator.id %>
      <tr>
        <td><%= link_to room.name, room%></td>
        <td><%= link_to room.commander.name, room.commander %></td>
        <td>----</td>
      </tr>
    <% end %>
  </tbody>
</table>
<table id="personal-tabel" class="table is-hoverable is-bordered is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Room</th>
      <th>Commander</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <% next unless room.commander.id == current_operator.id %>
      <tr>
        <td><%= link_to room.name, room%></td>
        <td><%= link_to room.commander.name, room.commander %></td>
        <td>----</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'shared/index-end' %>