<%= form_with(model: strategy, local: true) do |form| %>
  <% if strategy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strategy.errors.count, "error") %> prohibited this strategy from being saved:</h2>

      <ul>
      <% strategy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :game_id, value: @game.id %>

  <div class="field">
    <%= form.label :name, class:"label" %>
    <%= form.text_field :name, autofocus: true, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :level, class:"label" %>
    <div class="select">
      <%= form.collection_select :level_id, 
                                  @game.levels, 
                                  :id, 
                                  :name,
                                  required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :mode, class:"label" %>
    <div class="select">
      <%= form.collection_select :mode_id, 
                                  @game.modes, 
                                  :id, 
                                  :name,
                                  required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label "team(optional)", for: 'team_ids', class:"label" %>
    <div  class="select is-multiple">
    <%= form.select(:team_ids, 
                    current_operator.teams.collect {|t| [ t.name, t.id ] },
                    {include_blank: false, include_hidden: false},
                      { multiple: true, :size => 5 }) %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-link is-pulled-left" %>
  </div>
<% end %>