<%= render 'shared/breadcrumb' %>

<%= render 'shared/index-start', myclass: 'strategy-box' %>
  <button class='button  new-strategy-btn'>
    New Strategy
  </button>

<div class="tabs is-centered">
  <ul>
    <li><a id="index-btn">All</a></li>
    <li><a id="team-btn">Team's</a></li>
    <li class="is-active"><a id="personal-btn">Personal</a></li>
  </ul>
</div>

<table id="index-tabel" class="table is-hoverable is-bordered is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Strategy</th>
      <th>Created By</th>
      <th>Inspired By</th>
      <th>Inspirations</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @strategies.each do |strat| %>
      <tr>
        <td><%= link_to strat.name, strat%></td>
        <td><%= link_to strat.commander.name, strat.commander %></td>
        <td>----</td>
        <td><%= strat.inspirations.count %></td>
        <td>----</td>
      </tr>
    <% end %>
  </tbody>
</table>

<table id="team-tabel" class="table is-hoverable is-bordered is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Strategy</th>
      <th>Created By</th>
      <th>Inspired By</th>
      <th>Inspirations</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @strategies.each do |strat| %>
      <% next unless strat.commander.id == current_operator.id %>
      <tr>
        <td><%= link_to strat.name, strat%></td>
        <td><%= link_to strat.commander.name, strat.commander %></td>
        <td>----</td>
        <td><%= strat.inspirations.count %></td>
        <td>----</td>
      </tr>
    <% end %>
  </tbody>
</table>
<table id="personal-tabel" class="table is-hoverable is-bordered is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Strategy</th>
      <th>Created By</th>
      <th>Inspired By</th>
      <th>Inspirations</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @strategies.each do |strat| %>
      <% next unless strat.commander.id == current_operator.id %>
      <tr>
        <td><%= link_to strat.name, strat%></td>
        <td><%= link_to strat.commander.name, strat.commander %></td>
        <td>----</td>
        <td><%= strat.inspirations.count %></td>
        <td>----</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'shared/index-end' %>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" >
      <p class="modal-card-title">New Stragey</p>
      <button class="delete close-btn" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="strategy-form">
        <%= render 'form', strategy: @strategy %>
      </div>
    </section>
  </div>
</div>
