<p id="notice"><%= notice %></p>

<%= render 'shared/index-start' %>
<%= link_to 'New Strategy', new_strategy_path %>
<table class="table is-bordered is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Strategy</th>
      <th>Created By</th>
      <th>Inspired By</th>
      <th>Inspirations</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @strategies.each do |strat| %>
      <tr>
        <td><%= link_to strat.name, strat%></td>
        <td><%= link_to strat.commander.name, strat.commander %></td>
        <td>----</td>
        <td><%= strat.inspirations.count %></td>
        <td>----</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'shared/index-end' %>