<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input' %>
  </div>

  <%= form.hidden_field :game_id, required: true, value: @game.id %>

  <div class="field select is-multiple">
  <%= form.collection_select(:level_id, @game.levels, :id, :name,
  {}, {required: true, multiple: true, include_hidden: false}) %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-link is-pulled-left"%>
  </div>
<% end %>
