<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :level_id, class:"label" %>
    <div class="select">
      <%= form.collection_select :level_id, 
                                 @game.levels, 
                                 :id, 
                                 :name,
                                 {include_blank: '-- Select One --'}, 
                                 required: true%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-link is-pulled-left"%>
  </div>
<% end %>
